.react {
  background: aqua;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}

.react2 {
  background: peru;
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 16px;
}